<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ассортимент замков</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% extends 'base.html' %}

{% block title %}Ассортимент замков - Магазин замков{% endblock %}

{% block content %}
    <h1>Ассортимент замков</h1>
    <p>У нас есть разнообразные замки для вашего выбора.</p>
{% endblock %}

</body>
</html>
