<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% extends 'base.html' %}

{% block title %}Контакты - Магазин замков{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <p>Свяжитесь с нами по телефону или электронной почте.</p>
{% endblock %}

</body>
</html>
